body {
  margin: 0;
  display: grid;
  /* ASCII-gravika */
  grid-template-areas:
    "header header header"
    "nav main aside"
    "footer footer footer";
}

.container {
  display: grid;
  background-color: gray;
  /*r azbivka po strokam */
  /*grid-template-rows: 30% 30% 30%;
  
  /* razbivka po stolbcam */
  /*grid-template-columns: 20% 1fr 150px;*/

  /* sokrashchenie zapisi*/
  /*grid-template: 1fr 1fr / 1fr 1fr;*/

  /* kuda dobavlyaem yacheyki v neyavnoy setke*/
  /*grid-auto-flow: column;*/
  grid-template-columns: repeat(auto-fit, 100px);
  /* visota strok v neyavnoy setke*/
  /*grid-auto-rows: 200px;*/
  /*shirina stolbca v neyavnoy setke*/
  /*grid-auto-columns: 200px;*/
  /*dense- pomeshchat element na svobodnoe mesto*/
  /*grid-auto-flow: dense;
  justify-items: end;
  align-items: center;
  justify-content: space-around;
  align-content: start;*/
  grid-area: main;
}
header {
  background-color: blue;
  grid-area: header;
}
footer {
  background-color: brown;
  grid-area: footer;
}
nav {
  background-color: yellow;
  grid-area: nav;
}
aside {
  background-color: aqua;
  grid-area: aside;
}

.gridItem {
  background-color: purple;
  margin: 10px;
}
#style1 {
  /*grid-row-start: 1;
  grid-row-end: 2;*/
  background-color: white;
  height: 20px;
}

#style1:hover {
  background-color: red;
  transition: all ease 3s;
  height: 40px;
}
.box {
  background-color: blue;
  width: 400px;
  height: 200px;
}
.box:hover {
  background-color: yellow;
  transition: all ease 3s;
  width: 500px;
  height: 300px;
}
