body {
  margin: 0;
  display: grid;
  /* ASCII-gravika */
  grid-template-areas:
    "header header header"
    "nav main aside"
    "nav footer aside";
}

.container {
  display: grid;
  background-color: gray;
  /*r azbivka po strokam */
  /*grid-template-rows: 30% 30% 30%;
  
  /* razbivka po stolbcam */
  /*grid-template-columns: 20% 1fr 150px;*/

  /* sokrashchenie zapisi*/
  grid-template: 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr;

  /* visota strok v neyavnoy setke*/
  /*grid-auto-rows: 200px;*/
  /*shirina strok v neyavnoy setke*/
  /*grid-auto-columns: 200px;*/
  grid-area: main;
}
header {
  background-color: blue;
  grid-area: header;
}
footer {
  background-color: brown;
  grid-area: footer;
  /*grid-column: 2/3;*/
}
nav {
  background-color: yellow;
  grid-area: nav;
  /*grid-row: 2/5;*/
}
aside {
  background-color: aqua;
  grid-area: aside;
  /*grid-row: 2/5;*/
}

.gridItem {
  background-color: purple;
  margin: 10px;
}
#style1 {
  grid-row-start: 1;
  grid-row-end: 2;
}
